.date-picker {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    height: 35px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.date-picker::-webkit-scrollbar {
    display: none;
}

.date-picker .date-to-be-picked {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--smoke);
    border-radius: 20px;
    height: 32px;
    width: 82px;
}
.date-picker label:first-child .date-to-be-picked {
    margin-left: 25px;
}
.date-picker label:last-child .date-to-be-picked {
    margin-right: 15px;
}

input[type='radio']:checked+.date-to-be-picked {
    background-color: var(--blue);
    color: var(--white);
}