:root {
    --width: calc(100vw);
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--white);
    border-top: 1px solid none;
    /* box-shadow: 0 -8px 6px -6px whitesmoke; */
    /* box-shadow: 0 6px 6px 6px var(--gray); */
}
.menuOption {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 60px;
    height: 35px;
    border-bottom: 3px solid var(--white);
    cursor: pointer;
    margin-bottom: 5px;
}
.menuOption:hover {
    border-bottom: 3px solid var(--blue);
}
