@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: whitesmoke;

}
main {
    width: 100vw;
    height: calc(100vh - 60px);
}
nav {
    width: 100vw;
    height: 60px;
    /* remove after tailwind is applied*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* remove after tailwind is applied*/
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid none;
}
a .selected {
    border-bottom: 2px solid black;
}
h1 {
    text-align: center;    
}
.search {
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

input, select {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px;
    background-color: white;
    font-size: 14px;
}
input[type=number] {
    width: 30px;
    text-align: center;
}
button {
    border: none;
    border-bottom: 2px solid none;
    color: deeppink;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    border-bottom: 2px solid deeppink;
}


.tg_button_container{
        height: 100vh;
        display: grid;
        place-items: center;    
}